body, div, h3, pre {
  font-family: "Helvetica Neue", Helvetica, "Liberation Sans", "OpenSans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4ex;
  margin: 2ex;
}

pre {
  font-family: "Source Code Pro", "Menlo", "DejaVu Sans Mono", monospaced;
  margin: 2ex 8em;
  padding: 1.4ex 1.4em;
  border: 1px solid rgba(128,128,128,0.4);
  border-radius: 4px;
  background-color: rgba(0,0,0,0.1);
}

h3 {
  font-weight: 600;
}

.welcome {
  font-style: italic;
}